
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;


.footer {
    height: auto;
    background-color: #2F4F4F;
    margin-top: -0.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    color: #F5F5F5;
    justify-content: space-between;
    text-align: center;
    padding-top:1rem;
    align-items:center;
    position: relative;
    margin-bottom: -0.5rem;


    @include tablet{
        display: flex;
        padding-left: 3rem;
        flex-direction: row;
        position: relative;
    }

    @include desktop{
        display: flex;
        flex-direction: row;
        position: relative;
        bottom: -63rem;
    }

    &_logo{
        height: 8rem;
        width: auto;

        @include tablet{
            padding-right: 1rem;
            margin-bottom: 2rem;
        }

    }

    &-block{
        display:flex;
        flex-direction: row;

        @include tablet{
            flex-direction: row;
        }
    }

    &-subheading ul{
        padding-left: 0rem;
    }

    &-subheading ul li{
        list-style-type: none;
        font-size: 0.75rem;
        padding-left: 0rem;
        font-family: "roboto-regular"
    }

    &-heading{
        font-size: 0.90rem;
        font-family: "roboto-slab"

    }
}
