@font-face{
    font-family:'roboto-slab';
    src: url("../../assets/fonts/roboto-slab/RobotoSlab-Bold.ttf")format("truetype");
    font-weight: 500;
}

@font-face{
    font-family:'roboto-regular';
    src: url("../../assets/fonts/roboto/Roboto-Medium.ttf")format("truetype");
    font-weight: 700;
}
