
// Screen Width

$min-mobile-width: 320px;
$max-mobile-width: 767px;
$min-tablet-width: 768px;
$max-tablet-width: 1279px;
$min-desktop-width: 1280px;

// Primary Colours

$primary-orange: #ffbd59;
$primary-green: #2f4f4f;
$primary-white: #fcfef4;
$primary-beige: #E3CAAB;
$primary-brown: rgb(73 54 47);
$primary-silver: #AFAFAF;
