@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;


main{
    display:flex;
    flex-direction: column;
}

.landing{
    margin-bottom: 0rem;
    background-image: linear-gradient(to bottom, rgb(47 79 79), rgb(255 189 89 / 31%)), url(/src/assets/photos/landing_banner.jpg);
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    margin-top: 0rem;
    height: 23rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-top: 3rem;
    margin-top:7rem;

    @include tablet{
        margin-top:10rem;
    }

    @include desktop{
        padding-left: 6rem;
        padding-right: 8rem;
        padding-top: 8rem;
        height: 45rem;
        margin-top:10rem;


    }


    &_ohep-logo{
        display: flex;
        flex-direction: row;
        height:8rem;
        width: 8rem;
        align-items: center;

        @include desktop{
            height:10rem;
            width: 10rem;
        }
    }

    &_title{
        font-family: "roboto-slab";
        font-weight: 500;
        margin-bottom: 0rem;
        color: white;
        height: 10rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 2rem;

        @include tablet{
            padding-top: 3rem;
        }

        @include desktop{
            height: 18rem;
            font-size: 4rem;
            padding-left: 6rem;
            padding-right: 8rem;
        }
    }

    &_register-button-desktop{
        padding: 0.25rem;
        border-radius: 1.25rem;
        font-weight: 400;
        font-size: 0.8;
        cursor: pointer;

        @include mobile{
            display: none;
        }

        @include tablet{
            display: none;
        }

        @include desktop{
            display:flex;
            justify-content: center;
        }
    }

    &_register-button-mob-tab{
        padding: 0.25rem;
        border-radius: 1.25rem;
        font-weight: 400;
        font-size: 0.8;
        cursor: pointer;

        @include desktop{
            display: none;
        }
    }

    &_information--section{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        background-color: #ffbd5914;
        margin-right: -0.50rem;
        margin-left: -0.50rem;
        padding-bottom: 3rem;
        align-items: center;

        @include desktop{
            flex-direction: row;
        }

        &-title-logo{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 4rem;
        }

        &-title{
            color: $primary-green;
            font-family: "roboto-slab";
            display: flex;
            flex-direction: column;
            display: flex;
            align-items: center;
            font-size: 2rem;
            margin-bottom: 0rem;
            &:hover{
                color: $primary-orange;
            }

            @include tablet{
                font-size: 2.5rem;
            }

            @include desktop{
                margin-left: 7rem;
                margin-right: 8rem;
                width: 43%;
                height: 6rem;
                font-size: 3rem;
            }
        }

        &-content{
            color: $primary-green;
            font-family: "roboto-regular";
            font-weight: 400;
            font-size: 1rem;
            padding: 0rem 1rem;

            @include tablet{
                padding: 0rem 6rem;
                font-size: 1.25rem;
            }

            @include desktop{
                padding-right: 6rem;
                padding-top: 3rem;
            }
        }
    }
}

.landing_intro{
    &-para{
        font-family: "roboto-regular";
        font-weight: 700;
        text-align: justify;
        line-height: 1.90rem;
        @include tablet{
            font-size: 1.50rem;
        }

        &--side-note{
            font-family: "roboto-regular";
            font-weight: 700;
            margin-left: 1.5rem;
            border-left: 2px solid black;
            padding-left: 1rem;
            text-align: justify;
            @include tablet{
                font-size: 1.25rem;
            }

        }
    }

}

.fact-single{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "roboto-slab";
    font-weight: 700;
    font-size: 3.5rem;
    color: $primary-green;
    padding: 2.5rem 0rem;
    line-height: 4.5rem;

    @include tablet{
        font-size: 4rem;
        line-height: 5rem;
    }
}

.fact-single-td{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "roboto-slab";
    font-weight: 700;
    font-size: 4rem;
    color: $primary-green;
    padding: 2.5rem 0rem;
    line-height: 5rem;

    @include mobile{
        display: none;
    }
}

.fact-single-mobile{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "roboto-slab";
    font-weight: 700;
    font-size: 3.5rem;
    color: $primary-green;
    padding: 2.5rem 0rem;
    line-height: 4.0rem;

    @include tablet{
        display: none;
    }
}


.fact-single-mobile{
    display: flex;

    @include tablet{
        display: none;
    }
}


.terms-conditions{
    padding: 0rem 1rem 2rem 3rem;
    margin-right:-0.50rem;
    margin-left:-0.50rem;
    @include tablet{

    }

    li{
        list-style-type: square;
        font-family: "roboto-regular";
        line-height: 2rem;
        @include tablet{
            margin-left: 6rem;
            margin-right: 6rem;
            font-size: 1.5rem;
        }
        @include desktop{
            margin-left: 9rem;
            margin-right: 9rem;
            padding-right: 1.75rem;
        }
    }

    &--title{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: "roboto-slab";
        font-weight: 700;
        font-size: 3.5rem;
        color: $primary-green;
        padding: 2.5rem 0rem;
        line-height: 4.5rem;

        @include tablet{
            font-size: 4rem;
            line-height: 5rem;
        }
    }
}


.fact-single{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "roboto-slab";
    font-weight: 700;
    font-size: 3.5rem;
    color: $primary-green;
    padding: 2.5rem 0rem;
    line-height: 4.5rem;
    margin-top: -5rem;

    @include tablet{
        font-size: 4rem;
        line-height: 5rem;
    }
}

.ohep--card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 3rem 0rem;
    justify-content: center;

    @include mobile{
        margin-top: 0rem;
    }

    @include tablet{
        margin-top: 0rem;
    }
}
.bookeo-widget-container {
    margin: 50px 0;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



